
@font-face {
	font-family: 'arial';
	src: url('../../assets/fonts/ArialRegular.eot');
	src: url('../../assets/fonts/ArialRegular.woff') format('woff'), url('../../assets/fonts/ArialRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'georgia';
	src: url('../../assets/fonts/georgia.eot');
	src: url('../../assets/fonts/georgia.woff') format('woff'), url('../../assets/fonts/georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

